.social-img{
    height: 35px;

}
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    
}
.nav {
    border-bottom: 1px solid #EAEAEB;
    text-align: right;
    height: 70px;
    width: 100%;
    background-color: white;
    line-height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    
}
.menu{
    margin: 0 30px 0 0;
}
.menu a{
    clear: right;
    text-decoration: none;
    color:gray;
    margin: 0 10px;
    line-height: 70px;
}
span{
    color: #54D17A;

}
label{
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height:70px;
    display: none;
    width: 26px;
    float: right;
}
#toggle{
    display: none;
}
.hero{
    background-size: cover;
    background-position: center;
    height:100%;
    width: 100%;
    overflow: hidden;
    opacity: 0.89;
}
h1{
    font-size: 80px;
    text-align: center;
    color: white;
    margin-top: 20%;
}
.cd-headline{
    color:white;
    font-size: 35px;
    text-align: center;
}
#about{
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: black;
    list-style: none;
}
.about-container{
    background-image: url(tinified/plant1.jpg);
    background-size: cover;
    background-position: center;
    height:100%;
    width: 100%;
    overflow: hidden;
}
.avatar-img{
    height: 415px;
    float:left;
    margin: 20px;
}
#about h3{
    font-size: 40px;
    text-align: center;
    margin-top: 70px;
    padding-top: 75px;
    margin-bottom: 98px;
}
.about-description p{
text-align: center;
margin-bottom: 55px;
margin-right:20px;
margin-top: 4px;
}
.about-skills{
    text-align: center;
}
.skills{
    text-align: center;
    margin-bottom:4px;
}
h4{
    font-size:30px;
    text-align: center;
    margin-bottom: 10px;
}
#portfolio{
    color:black;
    width: inherit;
    height: inherit;
    align-items: center;
}
#portfolio h3{
    font-size: 40px;
    text-align: center;
    margin-top: 25px;
    padding-top: 50px;
    margin-bottom: 43px;
}
.quiz-container p{
    text-align: center;
    font-size: 20px;
    margin: 10px;
}
.featured-links img{
    height:50px;
}
.featured-skills{
    text-align: center;
    list-style: none;
}
.featured-img{
    padding: 10px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10px;
}
.featured-links{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}
.skills-container{
    list-style-type: none;
    text-align: center;
    margin-bottom: 60px;
}
h3{
    text-align: center;
}
.social-item{
    list-style:none;
    display: inline-block;
    margin-left: 14%;
}
.end-note{
    text-align: center;
}
.portfolio-container{
    background-image: url(tinified/plant2.jpg);
    background-size: cover;
    height:100%;
    width: 100%;
    overflow: hidden;
}
.quiz-container{
    height: 692px;
    margin-left: 4%;
    width: 696px;
    border: 3px solid black;
    border-radius: 50px;
}
.quiz-image{
    height: 327px;
    margin-left: 28px;
}
h5{
    text-align: center;
    font-size: 30px;
    margin-bottom: 5px;
}
@media only screen and (max-width:500px){
    label{
        display: block;
        cursor: pointer;
    }
    .menu{
        text-align: center;
        width: 100%;
        display: none;
        background-color: white;
    }
    .menu a{
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
    }
    #toggle:checked + .menu{
        display: block;
    }
    .nav{
        border-bottom: 1px solid #EAEAEB;
        text-align: right; 
        width: 100%;
    }
    .hero{
        background-size: cover;
        background-position: center;
        height:100%;
        width: 100%;
        overflow: hidden;
        opacity: 0.89;
    }
    .featured-img{
        margin-left: 30%;
        margin-right: 50%;
        padding: 20px;
    }
    h1 {
        font-size: 60px;
        text-align: center;
        color: white;
        margin-top: 36%;
    }
    .cd-headline {
        color: white;
        font-size: 30px;
        text-align: center;
    }
    #about h3 {
        font-size: 40px;
        text-align: center;
        margin-top: 90px;
        padding-top: 0px;
        margin-bottom: 25px;
    }
    .avatar-img {
        height: 300px;
        float: left;
        margin: 38px;
    }
    .about-description p {
        text-align: center;
        margin-bottom: 55px;
        margin-right: 20px;
        margin-top: 4px;
        margin-left: 20px;
    }
    h4 {
        font-size: 23px;
        text-align: center;
        margin-bottom: 20px;
    }
    .quiz-container {
        height: 615px;
        margin-left: 4%;
        width: 327px;
        border: 3px solid black;
        border-radius: 50px;
    }
    .quiz-container p {
        text-align: center;
        font-size: 17px;
        margin: 10px;
    }
    .featured-img {
        padding: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 67%;
        margin-top: 20px;
    }
    .featured-skills {
        text-align: center;
        margin-left: -10%;
        list-style: none;
    }
    .featured-links img {
        height: 22px;
    }
    .quiz-image{
        height:271px;
        margin-left: -4px;
    }
    .social-item {
        list-style: none;
        display: inline-block;
        margin-left: 4%;
    }
}
@media only screen and (max-width:1050px){
    h1 {
        font-size: 80px;
        text-align: center;
        color: white;
        margin-top: 44%;
    }
    #about h3 {
        font-size: 40px;
        text-align: center;
        margin-top: 70px;
        padding-top: 75px;
        margin-bottom: 100px;
    }
    .skills {
        text-align: center;
        margin-bottom: 25px;
    }
    .skills-container {
        list-style-type: none;
        text-align: center;
        margin-bottom: 227px;
    }
    .about-description p {
        text-align: center;
        margin-bottom: 125px;
        margin-right: 20px;
        margin-top: 4px;
    }
}
